
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="width:1903px;height:971px;border:1px solid #000000">
        <div style="width:1980px;height:45px;background-color:#000000">
            <div>
                <div>
                    <a></a>
                    <a></a>
                    <div>
                        <ul>
                            <li></li>
                            <li></li>
                            <li>
                                <a></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:1980px;height:980px;">

        </div>
    </div>
</body>
</html>
