
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>layout</title>
</head>
<body>
    <div style="width:1348px;height:923px"> 

    </div>
</body>
</html>
